*{
	box-sizing: border-box;
	position: relative;  
}
body{
  background-color: #ccc;
  width: 100%;
  height: 100vh;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{margin: 0}
a{text-decoration: none;
  outline: none;}

  .your-class{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .box{
    width: 600px;
    height: 400px;
  
    font-size: 50px;
    border: #FFDC35 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box1{  background-color: lightcoral;  }
  .box2{  background-color: #64A600;  }
  .box3{  background-color: lightblue;  }


.header{
  width: 100%;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
}
.logo{

  color: #fff;
  font-size: 30px;
  padding: 20px;
border:1px solid #FFDC35;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  yellowgreen;
}

.nav_link{border:1px solid #FFDC35;
	display: block;
	color: #ffffff;
	font-size: 20px;
	padding: 14px 28px;
  text-align: center;
	}

.icons{
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 8px;
}


.menu-toggle {
  border: 1px solid #C07AB8;
  width: 50px;
  height: 50px;
  
  flex-direction: column;
  justify-content: space-between;
  display: none;

  cursor: pointer;
}
.menu-toggle span{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

@media (max-width:768px){
  .menu-toggle{
    display: flex;
  }
  .nav{
    width: 100%;
    position: absolute;
    top: 100%;
    display: block;
    height: -100%;
  }

  #click:checked ~ .icons .menu-toggle{
    display: none;
  }

  #click:checked ~ .icons .close-btn{
    display: block;
  }

  #click:checked ~ .nav{
    height: 100%;
  }
}



/* close-btn */
.close-btn {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #64A600;
}
.close-btn span{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
.close-btn span:nth-child(1){
transform: translate(-50%,-50%) rotate(45deg);}
.close-btn span:nth-child(2){
transform: translate(-50%,-50%) rotate(-45deg);}
