 /*-----------------------------*\
    Article
\*------------------------------*/
.content{
    width: 100%;
    margin-top: 80px;}
.article{
    width: 100%;
    padding-top: 40px;    
}
.article-img-container{
    aspect-ratio: 16/9;
    width: 100%;
}
.article-img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
}
.date{
    font-size: 20px ;
    letter-spacing: 2px;
    color: #808080;
    padding: 20px 0;
}
.text{
    width: 100%;
    padding: 30px ;
}
.paragraph{
    padding: 20px 0;
    font-size: 20px;
    line-height: 2;
    text-indent: 2em;
}